@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}


    <section class="slider_section">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            
                                <div class="detail-box">
                                    <h1>
                                        <br>
                                        <span>ThobileM Construction Company</span>
                                    </h1>
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section id="about" class="about_section">
        <div id="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 px-0">
                        <div class="img_container">
                            <div class="img-box">
                                <img src="~/images/image1.jpg" />
                               @*  <img src="~/images/image1.jpg" alt="ThobileM team at work" /> *@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-0">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>Who Are We?</h2>
                            </div>
                            <p>
                                ThobileM Building Construction is a dynamic construction company headquartered in Roodepoort, Gauteng, established in November 2019. Specializing in the construction and renovation of schools and other buildings, ThobileM has quickly earned a reputation for delivering high-quality infrastructure that supports education and community development.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <hr />

    <section class="team_section">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Our Team
                </h2>
                <p>
                    Top-tier construction crew known for turning blueprints into reality
                    with unmatched skill and efficiency. Led by a sharp Director, the team includes
                    a visionary CEO, a meticulous Project manager, a hands-on general Site manager,
                    and a tight-knit group of expert tradespeople (foremans,artisans, electricians, and plumbers).
                    Their seamless coordination, clear communication, and relentless focus on quality make
                    them the go-to squad for complex builds, delivering projects on time, within budget, and beyond expectations.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 mx-auto ">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/worker2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Martin Anderson
                            </h5>
                            <h6 class="">
                                CEO
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mx-auto ">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/worker3.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Denny Butler
                            </h5>
                            <h6 class="">
                                Project Manager
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mx-auto ">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/worker1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Nathan Mcpherson
                            </h5>
                            <h6 class="">
                                Site Manager
                            </h6>
                        </div>
                    </div>
                </div>
            <div class="col-md-4 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="images/Foremen.jpeg" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Our ground people
                        </h5>
                        <h6 class="">
                            Foreman
                        </h6>
                    </div>
                </div>
            </div>
            </div>
            <div class="btn-box">
              
            </div>
        </div>
    </section>




